/* You can add global styles to this file, and also import other style files */
@import "assets/css/stylesheet.css";
@import "assets/fonts.googleapis.com/cssab2a.css";

.daterangepicker {
  display: flex !important;
}

.calendar.left {
  margin-right: 0 !important;
}

.btn-primary:disabled {
  background-color: green;
  border-color: green;
}

